/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1600px;
    height: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: calc(15% - 20px);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #e0e0e0;
}

.middle-section {
    display: flex;
    justify-content: space-between;
}

.left-card,
.right-card {
    width: 48%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-card {
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input[type="text"],
.search-container select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #45a049;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th,
.data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}


/* Add styles for the right card */
/* Update styles for the right card */
/* Update styles for the right card */
.right-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.right-card form {
    display: flex;
    flex-wrap: wrap;
}

.right-card .row {
    display: flex;
    margin-bottom: 10px;
}

.right-card .col {
    width: 350px;
    flex: 1;
    margin-right: 10px;
}


.right-card label {
    font-weight: bold;
    margin-bottom: 5px;
}

.right-card input[type="text"],
.right-card input[type="number"],
.right-card textarea,
.right-card select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.right-card select {
    margin-right: 10px;
    /* Adjust as needed */
}

.right-card button {
    background-color: #4CAF50;
    margin-top: 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.right-card button:hover {
    background-color: #45a049;
}