/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    margin-left: 20px;
    display: inline-block;
}

nav {
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#categoryDropdown {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#searchButton:hover {
    background-color: #45a049;
}

#searchResults {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    width: 800px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}

.book-card .title {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}

.book-card .author {
    color: goldenrod;
    font-size: 14px;
    margin-bottom: 10px;
}

.book-card .available-count {
    font-size: 14px;
    margin-bottom: 10px;
}

.borrow-button {
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.borrow-button:hover {
    background-color: #005600;
}

.borrow-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}