.search-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#categoryDropdown {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#searchButton:hover {
    background-color: #45a049;
}

#searchResults {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Card design CSS */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    display: flex;
    /* Ensure card is flex container */
    border: 1px solid #ccc;
    border-radius: 15px;
    /* Adjust border radius for a softer look */
    padding: 20px;
    width: 30%;
    /* Adjust as needed */
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add box shadow for depth */
}

.book-image {
    width: 120px;
    /* Adjust image width */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 20px;
    /* Add spacing between image and details */
    border-radius: 10px;
    /* Rounded corners */
    flex-shrink: 0;
    /* Prevent image from shrinking */
}

.book-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Take remaining space */
}

.book-details>* {
    margin-bottom: 10px;
    /* Add space between elements */
}

.title {
    color: green;
    font-size: 18px;
}

.author {
    color: goldenrod;
    font-size: 14px;
}

.available-count {
    font-size: 14px;
}

.borrow-button {
    align-self: flex-end;
    /* Align button to */
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.borrow-button:hover {
    background-color: #005600;
}

.borrow-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}